@model EvoJiuJitsu.App.ViewModels.AtletaViewModel

@{
    ViewData["Title"] = "Editar Alteta"
    ;
}

<h1>@ViewData["Title"]</h1>

<h4>Editar informações do Alteta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <vc:summary></vc:summary>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label><br />
                <select asp-for="Sexo" class="form-control">
                    <option value="0"></option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                    <
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" type="date" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faixa" class="control-label"></label>
                <select asp-for="Faixa" class="form-control">
                    <option value="0"></option>
                    <option value="1">Branca</option>
                    <option value="2">Azul</option>
                    <option value="3">Roxa</option>
                    <option value="4">Marrom</option>
                    <option value="5">Preta</option>
                    <option value="6">Coral</option>
                    <option value="7">Vermelha</option>
                </select>
                <span asp-validation-for="Faixa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Polo" class="control-label"></label><br />
                <select asp-for="Polo" class="form-control">
                    <option value="0"></option>
                    <option value="1">Condor</option>
                    <option value="2">Umarizal</option>
                    <option value="3">MGA</option>
                    <option value="4">Pernoh</option>
                    <option value="5">BestFit</option>
                    <option value="6">Outros</option>
                </select>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a class="btn btn-dark" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
